p{
	margin-top: 2%;
	margin-bottom: 2%; 
	color: black; 
}

body {
	text-align: center;
}

table tr td:empty{
	width: 50px; 
}

th, tr, td {
	padding: 0.5rem;
	color: black;  
}

.title {
	margin-top: 2%; 
	font-family: 'Raleway', sans-serif;
	font-weight: bold; 
	font-size: 65px; 
	color: #FF0000; 
}

.intro p {
	margin-top: 2%; 
	font-family: 'Actor'; 
	font-size: 25px; 
	background-color: red; 
	color: white; 
}

.HowTo p {
	margin-top: 2%;
	margin-left: 10%; 
	margin-right: 10%;  
	font-family: 'Raleway'; 
	font-size: 20px; 
	color: red; 
}

.box1 td, th {
	text-align: center;
}

.box2 tr{
	 
}

.boxes{
	border : 2px solid #FF2F2F; 
	border-radius: 15px;

}

.result {
	text-align: right; 
}


.bttn {
	color: white;
	background-color: #FF2F2F; 
}
     