body {
	text-align: center; 
}

button {
	display: inline;
	background-color: blue; 
}

.title {
	font-family: 'Actor';
	margin-top : 2%;
	font-size: 45px;
	font-weight: bold;  
}

.players {
	margin-top: 10%; 
}

